.NavItem {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.NavItem.selected {
  color: var(--cyberpunk-green);
}
