.Attribution {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.Attribution > li {
  margin: 0 2rem 0 0;
}

.Attribution > li:last-child {
  margin: 0;
}
