<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link to reset.css, clear out browser defaults -->
    <link rel="stylesheet" href="../../../public/reset.css" type="text/css" />

    <!-- Link to styles.css, basic website styling -->
    <link rel="stylesheet" href="../../../public/styles.css" type="text/css" />

    <link rel="stylesheet" href="./Author.css" type="text/css" />
    <link rel="stylesheet" href="./scanlines.css" type="text/css" />
    <title>Document</title>
  </head>
  <body class="container">
    <div class="img-large scanlines">
      <!-- IMG -->
      <img src="../../assets/turing-test.jpg" />
    </div>
    <div class="overlay"></div>
  </body>
</html>
