.SegmentedControl {
  width: 80%;
  max-width: 12.375rem;
  margin: 1rem auto;
}

.SegmentedControl ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.Segment {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0.625rem;
}

.selected {
  color: var(--cyberpunk-green);
}

@media all and (min-width: 736px) {
  .SegmentedControl {
    margin: 2rem auto;
  }
}
